body {
  font-family: sans-serif;
}

#response {
  display: none;
}

.success {
  border: 2px dotted green;
}

.error {
  border: 2px dashed red;
}

#response-out {
  background-color: #FFF8DD;
  width: 60em;
}
